<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API for Programming Languages</title>
</head>
<body>
    <h1>Web API For Different Programming Languages and Frameworks</h1>

    <% lor1.forEach(function(e) { %>
        <a href="/<%=e.title%>"><%=e.title%></a>
    <% }); %>
    
</body>
</html>